@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*For refactoring*@

@if (User.IsInRole("Doktor"))
{
    <div class="container">
        <nav class="navbar navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item>">
                    <a asp-action="Termini" class="nav-link">Termini</a>
                </li>
                <li class="nav-item>">
                    <a asp-action="Pacijenti" class="nav-link">Pacijenti</a>
                </li>
                <li class="nav-item>">
                    <a asp-action="Dijagnoze" class="nav-link">Dijagnoze</a>
                </li>
                <li class="nav-item>">
                    <a asp-action="Recepti" class="nav-link">Recepti</a>
                </li>
            </ul>
        </nav>
    </div>
}
else if (User.IsInRole("Asistent"))
{
    <div class="container">
        <nav class="navbar navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item>">
                    <a asp-action="Termini" class="nav-link">Termini</a>
                </li>
                <li class="nav-item>">
                    <a asp-action="Pacijenti" class="nav-link">Pacijenti</a>
                </li>
            </ul>
        </nav>
    </div>
}